// Place all the styles related to the controles controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dragable{
  width: 150px;
  height: 150px;
  padding: 0.5em;
}